canvas#canvas {
    width : '1000px';
    height : '220px';
   
    position: fixed;
    top: 12%;
    left: 0%;
    z-index: 1;
}

/* @media (max-width: 1000px) {
  #canvas {
      width: 1200px;
      height:700px;
  }
}

@media (max-width: 400px) {
  #canvas {
      width: 400px;
      height:700px;
  }
} */

.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid #04AA6D; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    color: black;
  }